@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";
@plugin "daisyui";

@theme {
  --font-space: "Space Grotesk", sans-serif;
}

body {
  font-family: "Space Grotesk", sans-serif;
  color: #e2e8f0;
}

@plugin "daisyui/theme" {
  name: "midnight";
  default: true;
  --color-primary: #6366f1;
  --color-secondary: #22d3ee;
  --color-accent: #f472b6;
  --color-neutral: #1e1e2e;
  --color-base-100: #0f0f1a;
  --color-base-200: #1a1a2e;
  --color-base-300: #252542;
  --color-base-content: #e2e8f0;
}
